@model PagedList<ArticleDetailView>
@{
    ViewData["Title"] = "文章列表";
}
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <div>
        @foreach (var item in Model)
        {
            <a href="@Url.Action("Article","Index",new {pid=item.Keyword })"> @item.Title</a>
        }
    </div>
    @Html.Partial("~/Views/Shared/PagerPartial.cshtml", Model)
</div>

