@{
    ViewData["Title"] = "关于我们";
}
<h2>@ViewData["Title"]</h2>
<p>
    石油文库站点为阿果石油网旗下石油文献及资料共享平台。



    依托阿果石油网强大的用户基数和行业资源，呼吁广大石油同行汇聚自己的专业文献资料，共享创造专业价值，惠及千万石油人。



    阿果石油网创建石油文库站旨在为石油同行免费提供一个可以在线预览、可以上传大文件的一个网络在线平台，网站采用积分制，付出了就一定有收获，共享了就一定有积分，完全免费为大家服务。



    我们只为解决众多石油专业资料零散、没有系统整理的困惑，为石油人提供方便。



    阿果石油网·文库团队

    2016-5-4
</p>
