@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <h2>欢迎使用快速开发平台首页</h2>

    ==> <a href="/SystemManage/Login" target="_blank">进入后台管理</a>
</div>


