@{
    ViewBag.Title = "Index";
    //Layout = "~/Area/SystemManage/Views/Shared/_Index.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="~/css/framework-font.css" rel="stylesheet" />
    <link href="~/css/framework-theme.css" rel="stylesheet" />
    <script src="~/js/jquery/jquery-2.1.1.min.js"></script>
    <script src="~/js/bootstrap/bootstrap.js"></script>
    <link href="~/js/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <script src="~/js/jqgrid/jqgrid.min.js"></script>
    <link href="~/js/jqgrid/jqgrid.css" rel="stylesheet" />
    <script src="~/js/jqgrid/grid.locale-cn.js"></script>
    <link href="~/css/framework-ui.css" rel="stylesheet" />
    <script src="~/js/framework-ui.js"></script>
</head>
<body>
    <script>
        $(function () {
            gridList();
        })
        function gridList() {
            var $gridList = $("#gridList");
            $gridList.dataGrid({
                url: "/SystemManage/Manager/GetGridJson",
                height: $(window).height() - 128,
                colModel: [
                    { label: '主键', name: 'Id', hidden: true },
                    { label: '账户', name: 'Account', width: 80, align: 'left' },
                    { label: '姓名', name: 'RealName', width: 80, align: 'left' },
                    {
                        label: '性别', name: 'Gender', width: 60, align: 'center',
                        formatter: function (cellvalue, options, rowObject) {
                            if (cellvalue == true) {
                                return '男';
                            } else {
                                return '女';
                            }
                        }
                    },
                    { label: '手机', name: 'MobilePhone', width: 80, align: 'left' },
                    {
                        label: '公司', name: 'OrganizeId', width: 150, align: 'left',
                        formatter: function (cellvalue, options, rowObject) {
                            return top.clients.organize[cellvalue] == null ? "" : top.clients.organize[cellvalue].fullname;
                        }
                    },
                    {
                        label: '部门', name: 'DepartmentId', width: 80, align: 'left',
                        formatter: function (cellvalue, options, rowObject) {
                            return top.clients.organize[cellvalue] == null ? "" : top.clients.organize[cellvalue].fullname;
                        }
                    },
                    {
                        label: '岗位', name: 'DutyId', width: 80, align: 'left',
                        formatter: function (cellvalue, options, rowObject) {
                            return top.clients.duty[cellvalue] == null ? "" : top.clients.duty[cellvalue].fullname;
                        }
                    },
                    {
                        label: '创建时间', name: 'CreatorTime', width: 80, align: 'left',
                        formatter: "date", formatoptions: { srcformat: 'Y-m-d', newformat: 'Y-m-d' }
                    },
                    {
                        label: "允许登录", name: "EnabledMark", width: 60, align: "center",
                        formatter: function (cellvalue, options, rowObject) {
                            if (cellvalue == 1) {
                                return '<span class=\"label label-success\">正常</span>';
                            } else if (cellvalue == 0) {
                                return '<span class=\"label label-default\">禁用</span>';
                            }
                        }
                    },
                    { label: '备注', name: 'Description', width: 200, align: 'left' }
                ],
                pager: "#gridPager",
                sortname: 'DepartmentId asc,CreatorTime desc',
                viewrecords: true
            });
            $("#btn_search").click(function () {
                $gridList.jqGrid('setGridParam', {
                    postData: { keyword: $("#txt_keyword").val() },
                }).trigger('reloadGrid');
            });
        }
        function btn_add() {
            $.modalOpen({
                id: "Form",
                title: "新增用户",
                url: "/SystemManage/Manager/Form",
                width: "700px",
                height: "510px",
                callBack: function (iframeId) {
                    top.frames[iframeId].submitForm();
                }
            });
        }
        function btn_edit() {
            var keyValue = $("#gridList").jqGridRowValue().Id;
            $.modalOpen({
                id: "Form",
                title: "修改用户",
                url: "/SystemManage/Manager/Form?keyValue=" + keyValue,
                width: "700px",
                height: "510px",
                callBack: function (iframeId) {
                    top.frames[iframeId].submitForm();
                }
            });
        }
        function btn_delete() {
            $.deleteForm({
                url: "/SystemManage/Manager/DeleteForm",
                param: { keyValue: $("#gridList").jqGridRowValue().Id },
                success: function () {
                    $.currentWindow().$("#gridList").trigger("reloadGrid");
                }
            })
        }
        function btn_details() {
            var keyValue = $("#gridList").jqGridRowValue().Id;
            $.modalOpen({
                id: "Details",
                title: "查看用户",
                url: "/SystemManage/Manager/Details?keyValue=" + keyValue,
                width: "700px",
                height: "550px",
                btn: null,
            });
        }
        function btn_revisepassword() {
            var keyValue = $("#gridList").jqGridRowValue().Id;
            var Account = $("#gridList").jqGridRowValue().Account;
            var RealName = $("#gridList").jqGridRowValue().RealName;
            $.modalOpen({
                id: "RevisePassword",
                title: '重置密码',
                url: '/SystemManage/Manager/RevisePassword?keyValue=' + keyValue + "&account=" + escape(Account) + '&realName=' + escape(RealName),
                width: "450px",
                height: "260px",
                callBack: function (iframeId) {
                    top.frames[iframeId].submitForm();
                }
            });
        }
        function btn_disabled() {
            var keyValue = $("#gridList").jqGridRowValue().Id;
            $.modalConfirm("注：您确定要【禁用】该项账户吗？", function (r) {
                if (r) {
                    $.submitForm({
                        url: "/SystemManage/Manager/DisabledAccount",
                        param: { keyValue: keyValue },
                        success: function () {
                            $.currentWindow().$("#gridList").trigger("reloadGrid");
                        }
                    })
                }
            });
        }
        function btn_enabled() {
            var keyValue = $("#gridList").jqGridRowValue().Id;
            $.modalConfirm("注：您确定要【启用】该项账户吗？", function (r) {
                if (r) {
                    $.submitForm({
                        url: "/SystemManage/Manager/EnabledAccount",
                        param: { keyValue: keyValue },
                        success: function () {
                            $.currentWindow().$("#gridList").trigger("reloadGrid");
                        }
                    })
                }
            });
        }
    </script>

    <div class="topPanel">
        <div class="toolbar">
            <div class="btn-group">
                <a class="btn btn-primary" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
            </div>
            <div class="btn-group">
                <a id="NF-add" authorize="yes" class="btn btn-primary dropdown-text" onclick="btn_add()"><i class="fa fa-plus"></i>新建用户</a>
            </div>
            <div class="operate">
                <ul class="nav nav-pills">
                    <li class="first">已选中<span>1</span>项</li>
                    <li><a id="NF-edit" authorize="yes" onclick="btn_edit()"><i class="fa fa-pencil-square-o"></i>修改用户</a></li>
                    <li><a id="NF-delete" authorize="yes" onclick="btn_delete()"><i class="fa fa-trash-o"></i>删除用户</a></li>
                    <li><a id="NF-Details" authorize="yes" onclick="btn_details()"><i class="fa fa-search-plus"></i>查看用户</a></li>
                    <li class="split"></li>
                    <li><a id="NF-revisepassword" authorize="yes" onclick="btn_revisepassword()"><i class="fa fa-key"></i>密码重置</a></li>
                    <li class="split"></li>
                    <li><a id="NF-disabled" authorize="yes" onclick="btn_disabled()"><i class="fa fa-stop-circle"></i>禁用</a></li>
                    <li><a id="NF-enabled" authorize="yes" onclick="btn_enabled()"><i class="fa fa-play-circle"></i>启用</a></li>
                </ul>
                <a href="javascript:;" class="close"></a>
            </div>
            <script>$('.toolbar').authorizeButton()</script>
        </div>
        <div class="search">
            <table>
                <tr>
                    <td>
                        <div class="input-group">
                            <input id="txt_keyword" type="text" class="form-control" placeholder="账户/姓名/手机" style="width: 200px;">
                            <span class="input-group-btn">
                                <button id="btn_search" type="button" class="btn  btn-primary"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="gridPanel">
        <table id="gridList"></table>
        <div id="gridPager"></div>
    </div>
</body>
</html>